<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/layout"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout "

>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body class="bg-dark text-light">
<div class="mx-auto">
    <h2 style="">
        <p class="text-center font-weight-bold">Edytuj przedsiębiorstwo</p>
    </h2>
</div>
<div class="container">

    <form th:action="@{'/companyEntity/edit/' + ${companyFormWithEntityData.getCompanyID()}}" method="post" th:object="${companyFormWithEntityData}">
        <label>NIP</label>
        <input th:type="number" th:field="*{NIP}"/>
        <br/>
        <label>Company name</label>
        <input th:type="text" th:field="*{companyName}"/>
        <br/>
        <label>Fraud Status</label>
        <select th:field="*{fraudStatus}">
            <option th:value="'FRAUD'" th:text="FRAUD"></option>
            <option th:value="'CLEAR'" th:text="CLEAR"></option>
            <option th:value="'SUSPECT'" th:text="SUSPECT"></option>
        </select>
        <br/>
        <h3><p>Adres</p></h3>
        <label>Miasto</label>
        <input th:type="text" th:field="*{companyAddress.city}"/>
        <br/>
        <label>Kod pocztowy</label>
        <input th:type="number" th:field="*{companyAddress.postCode}"/>
        <br/>
        <label>Ulica</label>
        <input th:type="text" th:field="*{companyAddress.street}"/>
        <br/>
        <label>Numer domu</label>
        <input th:type="number" th:field="*{companyAddress.streetNumber}"/>
        <br/>
        <label>Numer mieszkania</label>
        <input th:type="number" th:field="*{companyAddress.houseNumber}"/>
        <br/>
        <button th:type="submit" class="btn-lg btn-block btn-secondary" role="button" aria-pressed="true">Zapisz zmiany</button>
        <a th:href="@{'/subjectsManager/viewCompanyEntities'}" class="btn btn-lg btn-block btn-info" role="button" aria-pressed="true">Wstecz</a>
    </form>
</div>
</body>
</div>
</body>
</html>