<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/layout"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout "

>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Remove person page</title>
</head>
<body>
<div class="mx-auto">
    <h2><p>Usuń osobę fizyczną</p></h2>
</div>
<form th:action="@{/subjectsManager/removePerson}" method="post" th:object="${removePerson}">
    <label>PESEL</label>
    <input th:type="number" th:field="*{PESEL}"/>
    <button th:type="submit">Usuń</button>
    <br/>
</form>
</body>
</html>