<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>View Person</title>
</head>

<body class="bg-dark text-light">
<div class="mx-auto">
    <h1>
        <p class="text-center">Podgląd osoby fizycznej</p>
    </h1>
</div>

<table class="table" style="">
    <tbody>
    </tbody>
    <thead>
    <tr>
        <th scope="col" class="text-light">PersonId</th>
        <th scope="col" class="text-light">First_name</th>
        <th scope="col" class="text-light" style="">Last_name</th>
        <th scope="col" class="text-light">Fraud_status</th>
        <th scope="col" class="text-light">Opcje</th>
        <th scope="col" class="text-light"></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="person : ${viewPersonEntities}">
        <tr>
            <td th:text="${person.personId}" class="text-light"></td>
            <td th:text="${person.firstName}" class="text-light"></td>
            <td th:text="${person.lastName}" class="text-light"></td>
            <td th:text="${person.fraudStatus}" class="text-light"></td>
            <td>
                <a th:href="@{'/personEntity/' + ${person.personId} + '/remove'}"
                   class="btn btn-sm btn-block btn-secondary btn-info" role="button" aria-pressed="true">Usuń</a></button>
            </td>
            <td>
                <a th:href="@{'/personEntity/' + ${person.personId} + '/edit'}"
                   class="btn btn-sm btn-block btn-secondary btn-info" role="button" aria-pressed="true">Edytuj</a></button>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>

</html>