<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>View Person</title>
</head>

<body class="bg-dark text-light">
<div class="mx-auto">
    <h1>
        <p class="text-center">Podgląd firmy</p>
    </h1>
</div>

<div class="container">
    <a th:href="@{'/subjectsManager'}" class="btn btn-lg btn-block btn-info" role="button"
       aria-pressed="true">Wstecz</a>
</div>

<table class="table" style="">
    <tbody>
    </tbody>
    <thead>
    <tr>
        <th scope="col" class="text-light">NIP</th>
        <th scope="col" class="text-light">Company_name</th>
        <th scope="col" class="text-light">Fraud_status</th>
        <th scope="col" class="text-light">Opcje</th>
        <th scope="col" class="text-light"></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="company : ${viewCompanyEntities}">
        <tr>
            <td th:text="${company.NIP}" class="text-light"></td>
            <td th:text="${company.companyName}" class="text-light"></td>
            <td th:text="${company.fraudStatus}" class="text-light"></td>
            <td>
                <a th:href="@{'/companyEntity/remove/' + ${company.companyId}}"
                   class="btn btn-sm btn-block btn-secondary btn-info" role="button"
                   aria-pressed="true">Usuń</a></button>
            </td>
            <td>
                <a th:href="@{'/companyEntity/edit/' + ${company.companyId}}"
                   class="btn btn-sm btn-block btn-secondary btn-info" role="button"
                   aria-pressed="true">Edytuj</a></button>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>

</html>